<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title>sinatra</title>
  </head>
  <div class="container">
    <body>
      <h1 class="title">✨メモアプリ✨</h1>
      <div class="memo_area">
        <p><%= @memo.text %></p>
      </div>
      <div class="text_alert">
        <%= @alert %>
      </div>
      <div class="button_items">
        <div class="button_item">
          <form method="post" action="/delete/<%= @memo.path %>">
            <input type="submit" value="はい" class="button">
            <input type="hidden" name="_method" value="DELETE">
          </form>
        </div>
        <div class="button_item">
          <form method="get" action="/change/<%= @memo.path %>">
            <input type="submit" value="いいえ" class="button">
          </form>
        </div>
      </div>
    </body>
  </div>
</html>
